* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Tinos', serif;
    background: url(img/bcg.jpg);
    background-size: cover;
    font-size: 7vh;
    color: #ffffff;
    text-shadow: 2px 2px black;
}

.focus {
    width: 25vw;
    background: none;
    border: 3px solid #ffffff;
    color: #ffffff;
    padding: 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: none;
}

.clock {
    font-size: 13vh;
    font-weight: 700;
}

.quote {
    font-size: 5vh;
}

#toDo-input {
    height: 5vh;
    width: 17vw;
    background: none;
    color: #ffffff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 5px;
    border-bottom: 3px solid #ffffff;
    border-radius: 5px;
    outline: 0;
}

.list-container {
    height: 35vh;
    width: 25vw;
    overflow: auto;
    font-size: 5vh;
}

.list-container::-webkit-scrollbar {
    background-color: transparent;
}

@media(max-width: 1400px) {
    .clock {
        font-size: 10vh;
    }

    .date {
        font-size: 5vh;
    }

    .message {
        font-size: 5vh;
    }

    .quote {
        font-size: 3vh;
    }

    .question {
        font-size: 7vh;
    }

    .list-container {
        height: 25vh;
        width: 20vw;
        font-size: 3vh;
    }
}

@media(max-width: 1200px) {
    .clock {
        font-size: 7vh;
    }

    .quote {
        font-size: 3vh;
    }

    .question {
        margin-top: 200px;
        font-size: 3vh;
    }

    .list-container {
        height: 25vh;
        width: 20vw;
        font-size: 3vh;
    }
}